---
name: CD

"on":
  push:
    branches: [master]

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.24.x
      - name: Deploy Docs
        run: make deploy-docs
        env:
          GIT_USER: ${GITHUB_ACTOR}
          GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
