name: CD

on:
  push:
    branches: [ $default-branch ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: 1.15
    - name: Deploy Docs
      run: make deploy-docs
      env:
        GIT_USER: ${{ env.GITHUB_ACTOR }}
        GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
